<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
</head>
<body>
	<h1>Registration</h1>
	<form action='/regprocess' method='post'>
		{% csrf_token %}
		First Name: <input type="text" name="firstname" placeholder="First Name">
		Last Name: <input type="text" name="lastname" placeholder="Last Name">
		Email: <input type="text" name="email" placeholder="Email">
		Password: <input type="password" name="pwreg" placeholder="Password">
		Confirm Password: <input type="password" name="confirmpw" placeholder="Confirm Password">
		<input type="submit" value="Register">
	</form>
		{% if messages %}
		<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
		</ul>
		{% endif %}	
	<h1>Login</h1>
	<form action='/loginprocess' method='post'>
		{% csrf_token %}
		Email: <input type="text" name="emaillogin" placeholder="Email">
		Password: <input type="password" name="pwlogin" placeholder="Password">
		<input type="submit" value="Log In">
	</form>
</body>
</html>